################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/VabelMitienditaEsc/.vs/VabelMitienditaEsc/v17/.suo
/VabelMitienditaEsc/.vs/VabelMitienditaEsc/v17/DocumentLayout.json
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.AssemblyInfoInputs.cache
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.assets.cache
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.GeneratedMSBuildEditorConfig.editorconfig
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc_MarkupCompile.i.cache
/VabelMitienditaEsc/.vs/VabelMitienditaEsc/v17/.suo
/VabelMitienditaEsc/.vs/VabelMitienditaEsc/v17/DocumentLayout.json
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.AssemblyInfoInputs.cache
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.assets.cache
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.GeneratedMSBuildEditorConfig.editorconfig
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc_MarkupCompile.i.cache
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.AssemblyInfoInputs.cache
/VabelMitienditaEsc/.vs/VabelMitienditaEsc/v17/DocumentLayout.json
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.AssemblyInfoInputs.cache
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.assets.cache
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc.GeneratedMSBuildEditorConfig.editorconfig
/VabelMitienditaEsc/obj/Debug/net9.0-windows/VabelMitienditaEsc_MarkupCompile.i.cache
/VabelMitienditaEsc/.vs/VabelMitienditaEsc/v17/.suo
/VabelMitienditaEsc/obj/Debug/net9.0-windows/App.g.i.cs
